*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}

html{
    color: white;

}

header{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    height: 40px ; 
    background-image: url(./code\ lines.jpg);
    opacity: 90%;

}

main{
    width: 100vw;
    background: black;
    background: linear-gradient(339deg, rgba(46,32,125,1) 0%, rgba(7,4,77,1) 17%, rgba(5,2,65,1) 100%); 
    padding-top: 100px;

}

.ul-header{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.li-header{
    width: 25px ; 
    height: 25px ;
    border-radius: 100%;
}

.ul-header .li-header:nth-child(1){
    background: rgb(221, 98, 98);
    opacity: 90%;
}
.ul-header .li-header:nth-child(2){
    background: rgb(234, 224, 50);
    opacity: 90%;

}
.ul-header .li-header:nth-child(3){
    background: rgb(85, 217, 85);
    opacity: 90%;

}

.txt-and-inputs{
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    flex-direction: row;
}

.div-imgs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 500px;
    height: 100px;
    padding-left: 20px;
    padding: 5px;

}

.img-autor{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;

}

.msg{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}

.msg h1{
    color: gold;
    font-size: 27px;
    font-weight: 700;
}

.date{
    font-size: 23px;
    font-weight: 600;
}

.about{
    font-size: 23px;
    font-weight: 10;

}

.sec-2{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 500px;
    height:243px;
    padding-top: 10px;
}

.sec-2 >small{
    color: white;
    font-size: 15px;
}

.fields{
    border-radius: 10px;
    border:black 2px solid;
    width: 400px;
    height:50px;
    outline: none;

}

#email{
    padding-left: 20px;
}

#btn-participar{
    background: rgb(255,255,255);
    background: linear-gradient(309deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgb(231, 158, 2) 11%, rgb(237, 164, 9) 100%);
    color:black;
    font-weight: 700px;
    font-size: 13px;
}

#btn-participar:hover{
    background: linear-gradient(309deg, rgb(177, 174, 174) 0%, rgb(201, 197, 197) 0%, rgb(231, 158, 2) 11%, rgb(222, 153, 4) 100%);
    font-size: 17px;
}


::placeholder {
    padding-left: 10px;
    color:black;
    font-weight: 500px;
}

/* estilo da seção das perguntas */

.sec-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100vw;
    color: rgb(97, 4, 97);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
    background: white;
}

.tittle-sec-quest{
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: bold;
    color: rgb(81, 3, 83);
}


.date-question{
    font-size: 20px;
    font-weight: bolder;
}

.title-quest{
    font-weight: bold;
    font-size: 30px;
    color: black;

}

.content-question{
    margin-top: 20px;
    font-weight: 100px;
    font-size: 20px;
    color: black;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90vw;
    padding: 20px;
    border-radius: 20px;

}

.questions:hover{
    border-radius: 20px;
    box-shadow: 3px -3px 16px 8px rgba(0,0,0,0.44);
    -webkit-box-shadow: 3px -3px 16px 8px rgba(0,0,0,0.44);
    -moz-box-shadow: 3px -3px 16px 8px rgba(0,0,0,0.44);
}



/* part about the author */

.who-are-we{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100vw;
    height: 700px;
    background-color: black;
    margin-top: 50px;
}
 
.tittle-sec {
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
    border-bottom: white 1px solid;
}

.author{
    display: flex;
    flex-direction: row;
    width: 80vw;
    gap: 25px;
}

.author:nth-child(2){
    flex-direction: row-reverse;

}

.img-author{
    display: flex;
    width: 170px;
    height: 170px;
    padding: 10px;
}

.img-author img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: white 1px  solid;
}

.name-author{
    font-size: 20px;

}   

.about-author{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.txt-about-author{
    margin-bottom: 10px;
}

/* criando o estilo do foother*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    background: white;
    color: rgb(74, 26, 74);
    padding-top: 20px;
}